NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://Manas:aNgBikSK2KoXBncu@employee-management-clu.jrk67eg.mongodb.net/employee_management?retryWrites=true&w=majority&appName=employee-management-cluster

JWT_SECRET=manaspandeysecret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Employee Management <no-reply@example.com>"
